---
---

@import 'framalibre-common';

body {
  min-height: 100vh;
}

main#f-page {
  // Surcharge les styles Framasoft
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto 3rem;
  padding-inline: 0;

  @media (min-width: 768px) {
    margin-top: 1rem;
  }

  & > :not(h1) {
    width: 100%;
  }
}



#f-page h1 .fl-animated-title {
  $moving-item-width: 2.4rem;
  $moving-item-width-on-lg: 12rem;
  $animation-start-top: -3rem;
  $animation-end-top: 3rem;

  display: grid;
  grid-template-rows: min-content $moving-item-width max-content;
  overflow: hidden;

  width: 15.2rem;

  @media (min-width: 768px) {
    grid-template-columns: min-content $moving-item-width-on-lg max-content;
    grid-template-rows: none;
    column-gap: .6rem; // simule l'espace entre les mots
    width: auto;
  }

  .fl-animated-title__moving-item,
  .fl-animated-title__fixed-item {
    // Surcharge les styles Framasoft
    margin-bottom: 0;
    padding: 0;
    background: none;
    border: none;
    position: relative;
  }

  .fl-animated-title__moving-item {
    $item-count: 4; // Nombre d'éléments animés.
    $first-item-delay: .5s; // Délai avant le début de l'animation du premier élément.
    $single-item-duration: 2s; // Durée d'animation d'un élément.

    // Calcul de correspondance entre temps et pourcentage de l'animation.
    // (normalement, pas besoin de toucher à ça)
    $animation-duration: $item-count * $single-item-duration;
    $single-item-hiding-duration: $single-item-duration * ($item-count - 1);
    $single-item-hiding-duration-percentage:
      round($single-item-hiding-duration / $animation-duration * 100);
    $animation-stage-3-percentage:
      round(100 - $single-item-hiding-duration-percentage);
    $animation-stage-1-percentage:
      round($animation-stage-3-percentage / 5);
    $animation-stage-2-percentage:
      round($animation-stage-3-percentage - $animation-stage-1-percentage);
    $total-children: $item-count * 2 - 1;

    position: absolute;
    display: inline-block;
    animation-name: fl-anim-title;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
    animation-duration: $animation-duration;

    // Décalage des éléments pour qu'ils apparaissent les uns après les autres.
    $previous-delay: $first-item-delay;
    @for $i from 1 through $total-children {
      @if $i % 2 != 0 {
        &:nth-child(#{$i}) {
          animation-delay: $previous-delay;
        }

        $previous-delay: $previous-delay + $single-item-duration;
      }
    }

    @media (min-width: 768px) {
      top: $animation-start-top;
      width: $moving-item-width-on-lg;
      text-align: center;
    }

    @media (prefers-reduced-motion: reduce) {
      animation: none;

      &:nth-child(1) { top: 0; }
    }

    @keyframes fl-anim-title {
      // Correspondance temps et pourcentage de l'animation pour 4 éléments.
      //
      // 0%          5%                 25%         30%                  100%
      // |           |                  |           |                    |
      // 0s          0.83s              1.67s       2.5s                 10s
      //
      // |
      // |                   (2.5s)
      // | ---------------------------------------> |
      // |   (0.5s)                                 |
      // | --------> |       (1.5s)                 |
      //    arrive   | ---------------> |  (0.5s)   |
      //    du haut     item visible    | --------> |       (7.5s)
      //                                   descend  | -----------------> |
      //                                                  invisible      |

      0% {
        opacity: 0;
        top: $animation-start-top;
      }
      #{$animation-stage-1-percentage * 1%} {
        opacity: 1;
        top: 0;
      }
      #{$animation-stage-2-percentage * 1%} {
        opacity: 1;
        top: 0;
      }
      #{$animation-stage-3-percentage * 1%} {
        opacity: 0;
        top: $animation-end-top;
      }
      100% {
        opacity: 0;
        top: $animation-end-top;
      }
    }
  }

  span[aria-hidden="true"] {
    display: none;
  }

  span {
    font-size: 2.4rem;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }
  }
}

.fl-accueil {

  @media (min-width: 992px) {
    margin-top: 1rem;
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  img {
    max-width: 100%;
    width: 20em;
  }

  h2:last-of-type {
    margin-top: 3rem;
    margin-bottom: 0 !important;
  }
}

.fl-tags {
  text-align: center;
  margin-bottom: 2rem;
}

.fl-tags__items {
  display: inline-block;
}

.fl-tags__link,
.fl-tags__link.tag {
  color: var(--f-f8);
  border: 1px solid var(--f-f8);

  &:hover,
  &:active {
    color: var(--f-g2);
    background-color: var(--f-f8);
  }
}

.fl-search {
  border: 2px solid var(--f-f8);
}

.fl-magnifying-icon::before {
  content: "";
  --square: 1.000em;
  background-color: currentColor;
  display: inline-block;
  line-height: 1;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(1.000em,1em);
  height: 1em;
  -webkit-mask-image: var(--icon);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M500.3 443.7L380.6 324c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723 99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9 53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0 15.606-15.64 15.606-41.04.006-56.64zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128-57.42 128-128 128-128-57.4-128-128z"/></svg>');
}

output {
  padding: 1rem;
}

.welcome-section {
  position: relative;
  margin: 1rem 0 3rem;
  max-width: 95%;

  @media (min-width: 768px) {
    max-width: 80%;
  }
}

.welcome-section__title {
  background: var(--f-o6);
  border-radius: .5rem;
  color: #fff !important;
  font-family: Tovari Sans,sans-serif;
  font-size: 2.4rem !important;
  font-style: normal;
  line-height: 2.5rem !important;
  padding: 1.25rem 1.75rem .5rem;
  text-align: center;
  text-transform: uppercase;
  transform: rotate(-2deg);
  width: fit-content;
  margin: -2.25rem auto 1.5rem !important;
  max-width: 80%;
}

.welcome-section__container {
  background: var(--f-g2);
  border-radius: 1.75rem;
  max-width: 1020px;
  margin: 2rem auto;
}

.welcome-section__content {
  padding: 2rem;
  display: flex;
  justify-content: space-around;

  @media (max-width: 768px) {
    flex-direction: column;
  }

}

.welcome-section__content p {
  margin-bottom: 1rem;
}


.welcome-section {
  h3 {
      display: inline;
      font-size: 3rem;
      font-family: Tovari Sans,sans-serif;
      color: var(--f-g10);
      line-height: 1;
  }
}


section.mini-sites-phares {
  background: none;
}


.mini-sites-phares .bloc1 {
  background: var(--f-g1);
}

.mini-sites-phares .bloc2 {
  background: var(--f-g2);
}

.mini-sites-phares .bloc3 {
  background: var(--f-g3);
}

.creer-mini-site img {
  max-width: 100%;
  margin-bottom : 2em;
}

.creer-mini-site a {
  margin: 0 2em;
}

.liste-mini-sites {
  max-width: 1020px;
  position: relative;
  color: #fff;
  font-size: 1.125rem;
}

.liste-mini-sites::before {
  border-radius: 1.75rem;
  background: var(--f-f7) url(https://framalibre.org/images/fond_bloc3.jpg) no-repeat 0 100%;
  background-size: cover;
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.liste-mini-sites li div {
  align-items: center;
  border: 1px solid #fff;
  border-radius: .5rem;
  background: rgba(61,41,87,.6666666667);
  display: flex;
  height: 100%;
  justify-content: center;
  min-height: 150px;
  font-weight: 600;

  a {
    color: #fff;
  }
}

.liste-mini-sites li div:hover {
  background: var(--f-f8);

  a {
    color: #fff;
  }
}